body
{
    overflow-x:auto;
    overscroll-behavior: none;
}

#progressBar {
    position: fixed;
    top: 56px;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: rgb(25, 39, 42);
    z-index: 99;
  }

    h2{
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(145, 167, 180);
        text-shadow: 2px 2px 4px #0a496d;
       margin-top: 10px;
    }
    .card{border-radius: 2px solid black;margin-bottom:20px;}
    .card-body{background-color:lavenderblush;}
    #quiz-wrapper{
        width: 600px;
        background-color: white;
        margin-left:auto;
        margin-right: auto;
        margin-top: 70px;
        padding: 10px 60px;
        border-radius: 5px;
        margin-bottom: 50px;
    
    }
    
    .quiz-question{
        font-size: 20px;
        font-weight: bold;
    }
    
    .radio-btn{
        width: 20px;
        height: 20px;
        margin-right: 15px;
    }
    
    .option{
        font-size: 15px;
    }
    
    
    #submit-btn {
        display: inline-block;
        font-size: 25px;
        padding: 10px 30px;
        margin: 20px 40px 20px 50px;
        border: none;
        border-radius: 5px;
       
    
    }
    #reset-btn {
        display: inline-block;
        font-size: 25px;
        padding: 10px 30px;
        margin: 20px 40px 20px 50px;
      
        border: none;
        border-radius: 5px;
       
    
    }
    #submit-btn:hover {
        background-color: rgb(63, 249, 43);
        color: black;
    }
    #reset-btn:hover {
        background-color: rgb(241, 238, 29);
        color: black;
    }
     label {
     display: flex;
     align-items: center;
    margin-bottom: 10px;
    
    }
     input[type="radio"] {

        margin-right: 10px;
    
    }
    #popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        padding: 30px;
        background-color: white;
        border-radius: 10px;
        z-index: 100;
        font-size: 20px;
    }
    #close{
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    .dropdown-item:hover{background-color:rgb(220, 220, 220);}


    /* CSS */
.button-57 {
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 10px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-57 span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
  }
  
  .button-57 span:last-child {
    color: rgb(255, 255, 255);
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
  }
  
  .button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
  }
  
  .button-57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
  }
  
  .button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  }

  .quiz-logo{
    display: inline-block;
    position: absolute;
    right: 1%;
    top: 17%;
    height:100px;
     width: 100px;
  }



  #quiz-timer {
    font-size: 1rem;
    color: darkred;
    background: none;
    padding: 0;
  }

  #timer-text {
    font-weight: bold;
  }

  
  